body {
  margin: 0;
  /* Varsayılan boşlukları sil */

  background: #f4e4d6;
  /* Gece laciverti arka plan */

  color: #ffffff;
  /* Genel yazı rengi */

  font-family: system-ui, ;
  /* Modern yazı tipi */
}



.navbar {
  background-color: #887d69;
  
  height: 110px;
 

  padding: 0 50px;
 

  display: flex;
  align-items: center;
  justify-content: space-between;
  

  border-bottom: 1px solid #887d69;
  

  position: relative;
 
}

.navbar-logo {
  display: flex;
  

  gap: 8px;
 

  letter-spacing: 0.25rem;
  

  position: absolute;
  left: 50%;
  transform: translateX(-50%);


  font-size: 1.7rem;

}


.navbar-links {
    
  display: flex;
  gap: 24px;
  
}

.nav-link {
  color: #fff;
  text-decoration: none;
  font-size: 1.2rem;
  letter-spacing: 0.05rem;
  transition: 0.2s ease;
}

.nav-link:hover {
  color: #f5c453;

}

.site-header {
  position: relative;
  padding: 5px;
}

.footer {
  width: 100%;
  padding: 10px 0;
  text-align: center;
  font-size: 0.9rem;
  color: #887d69; 

  border-top: 1px solid rgba(245, 196, 83, 0.3); 
  margin-top: 700px; 
}
